<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<!--渲染success信息-->
<% if (success) { %>
<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= success %>
</div>
<% } %>
<!--渲染error信息-->
<% if (error) { %>
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= error %>
</div>
<% } %>

<div class="header">
    <div class="container">
        <div class="header-left">
            <ul>
                <li><a href="/"><span class="glyphicon glyphicon-home"></span><span class="left-con">主页</span></a></li>
                <li><a href="/dynamic"><span class="glyphicon glyphicon-envelope"></span><span class="left-con">消息</span></a></li>
            </ul>
        </div>
        <div class="header-logo">
            <img src="/images/cloud.png">
        </div>
        <div class="header-right">
            <div class="right-search">
                <form class="form-inline" method="get" action="/search">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input type="text" class="form-control" id="search" name="search" placeholder="搜索 云图用户">
                            <span class="input-group-addon" id="basic-addon2">
                                <button type="submit"><span class="glyphicon glyphicon-search form-control-feedback"></span></button>
                            </span>
                        </div>
                    </div>

                    <div id="search-hide">
                        <a class="hide-input btn btn-default" id="hide-user" data-type="user">用户</a>
                        <a class="hide-input btn btn-default" id="hide-img" data-type="img">动态</a>
                        <a class="hide-input btn btn-green" id="hide-all" data-type="all">全部</a>
                        <a class="glyphicon glyphicon-remove" id="hide-close"></a>
                    </div>
                    <input type="hidden" name="hidden" id="hide-input">
                </form>
            </div>
            <div class="right-user">
                <div class="dropdown">
                    <a class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">L</a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="/u/<%= user._id %>">查看个人资料</a> </li>
                        <li><a href="/logout">退出</a> </li>
                    </ul>
                </div>
            </div>
            <div class="right-new">
                <a href="#" class="btn btn-green" data-toggle="modal" data-target="#pushMsg"><span class="glyphicon glyphicon-send"></span> 发布</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!--发布信息-->
<div class="modal fade" id="pushMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="/send">
                    <div class="input-group text-group">
                        <textarea class="form-control" rows="5" placeholder="在云图,写下自己想说的!" name="info" id="info"></textarea>
                    </div>
                    <div class="form-left">
                        <div class="form-image">
                            <input type="file" class="form-input" name="image">
                            <span class="glyphicon glyphicon-picture form-icon"></span>
                        </div>
                        <div class="form-video">
                            <input type="file" class="form-input">
                            <span class="glyphicon glyphicon-facetime-video form-icon"></span>
                        </div>
                    </div>
                    <div class="form-right">
                        <button type="submit" class="btn btn-green" id="fileBtn">
                            <span class="glyphicon glyphicon-send"></span>
                            发布
                        </button>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</div>