input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 1000px #FFF inset;
  border:1px solid #19caad!important;
}

* {
  transition:all 300ms;
  margin:0;
  padding:0;
}

a {
  color:#19caad;
  transition:all 300ms;
}

a:hover {
  text-decoration:none;
  color:#23ebad;
}

ul li {
  list-style-type:none;
}

.clear {
  clear:both;
}

.text-group {
  width:100%;
  border-radius:10px;
  overflow:hidden;
  border:1px solid #23ebad;
  background-color:#f5f8fa;
}

.text-group textarea {
  border:none;
  background:none;
  color:#23ebad;
}

.btn {
  border-radius:25px;
}

.btn-green {
  background-color:#19caad;
  border:1px solid #1dbf97;
  color:#fff;
}

.btn-green:hover {
  color:#fff;
  background-color:#23ebad;
  border:1px solid #19caad;
}

.cloud-input {
  border:1px solid #23ebad;
  color:#23ebad;
  margin-top:.8em;
}

.modal-footer {
  overflow:hidden;
  padding:0;
}

.alert {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1001;
}

.edit-input-group {
  margin-top:.8em;
}

.header {
  position:fixed;
  top:0;
  right:0;
  left:0;
  border-bottom:2px solid #23ebad;
  z-index:1000;
  background-color:#fff;
  padding:0 0 .8em;
}

.header-left {
  text-align:center;
}

.header-left ul li {
  width:70px;
  float:left;
  font-size:1.05em;
  padding-top:.5em;
}

.header-left ul li span {
  font-weight:700;
}

.left-con {
  margin-left:.4em;
  transition:all 300ms;
}

.header-right div {
  float:left;
  margin-left:.8em;
}

.right-search input {
  border-radius:20px;
  background-color:#f5f8fa;
}

.header-logo {
  position:absolute;
  top:1em;
  left:50%;
  margin-left:-40px;
  height:40px;
  width:40px;
}

.page {
  height:100%;
}

.page-wrap {
  height:65px;
  width:100%;
}

.page-container {
  padding:0 40px;
}

.page-left {
  float:left;
  width:24%;
}

.left-container {
  position:relative;
  width:100%;
  border:1px solid #e1e8ed;
  border-radius:8px;
  overflow:hidden;
  margin-bottom:.8em;
}

.info-top {
  height:100px;
  width:100%;
  background-color:#19caad;
}

.user-head {
  position:absolute;
  top:63px;
  left:10px;
  height:75px;
  width:75px;
  border-radius:10px;
  overflow:hidden;
}

.info-bottom {
  width:100%;
  text-align:center;
}

.user-msg {
  transition:all 300ms;
  padding:.6em 2em 3.2em;
}

.user-msg ul li {
  float:left;
  width:33.3%;
  text-align:center;
  position:relative;
  transition:all 300ms;
}

.user-msg ul li span {
  position:absolute;
  top:20px;
  left:26px;
  font-size:1.5em;
  font-weight:700;
  color:#19caad;
}

.user-msg ul li a {
  color:#8899a6;
}

.page-right {
  float:right;
  width:24%;
}

.right-container {
  border:1px solid #e1e8ed;
  border-radius:8px;
  overflow:hidden;
  margin-bottom:.8em;
  padding:1em;
}

.right-title span {
  font-size:1.3em;
  font-weight:700;
}

.right-title a {
  font-size:.8em;
  font-weight:700;
}

.rec {
  margin-top:.5em;
}

.rec-name {
  color:#000;
  font-weight:700;
  margin:0 1.5em;
}

.rec img {
  height:50px;
  width:50px;
  border-radius:10px;
}

.btn-rec {
  font-size:.6em;
  margin-right:2.5em;
}

.right-popular ul li {
  margin-top:.6em;
}

.right-popular ul li a {
  font-size:1.2em;
}

.right-popular ul li span {
  font-size:.6em;
  color:#66757f;
  margin-left:2em;
}

.page-main {
  float:left;
  margin-left:.7em;
  width:50%;
  border:1px solid #e1e8ed;
  border-radius:8px;
  overflow:hidden;
}

.main-text {
  width:100%;
  border-bottom:1px solid #e1e8ed;
  background-color:#E8FAF2;
  padding:.8em 1.5em;
}

.comment-text {
  width:100%;
  border-bottom:1px solid #e1e8ed;
  background-color:#E8FAF2;
  display:none;
  padding:2em 1.5em .8em;
}

.search-head {
  height:34px;
  width:34px;
  overflow:hidden;
  border-radius:5px;
  float:left;
  margin-right:.8em;
}

.search-head img {
  height:100%;
  width:100%;
}

.search-input {
  width:100%;
  border:1px solid #23ebad;
  color:#23ebad;
}

.search-input-group {
  border:1px solid #23ebad;
  background-color:#f5f8fa;
  color:#23ebad;
}

.msg {
  width:100%;
  position:relative;
  border-bottom:1px solid #e1e8ed;
  padding:5px 10px 10px 75px;
}

.msg-head {
  height:50px;
  width:50px;
  overflow:hidden;
  border-radius:10px;
  position:absolute;
  top:10px;
  left:10px;
}

.msg-hide {
  position:absolute;
  top:10px;
  right:10px;
  font-size:1.2em;
  color:#aab8c2;
}

.msg-hidet {
  display:none;
  width:60px;
  height:30px;
  line-height:30px;
  font-size:.6em;
  color:#fff;
  font-weight:700;
  text-align:center;
  position:absolute;
  top:-5px;
  left:-70px;
  background-color:#23ebad;
  border-radius:5px;
}

.msg-user {
  font-size:1.5em;
  font-weight:700;
  color:#19caad;
}

.msg-time {
  font-size:.8em;
}

.msg-img {
  width:100%;
  border:1px solid #e1e8ed;
  border-radius:8px;
  overflow:hidden;
}

.msg-con {
  cursor:pointer;
}

.msg-comment {
  margin:.8em;
}

.comment-head {
  height:30px;
  width:30px;
  border-radius:5px;
  overflow:hidden;
  float:left;
  border:1px solid #19caad;
}

.comment-info {
  float:left;
  position:relative;
  line-height:30px;
  margin-left:.5em;
}

.comment-user {
  color:#19caad;
  font-weight:700;
}

.forward-span {
  font-weight:700;
  color:#19caad;
  margin-right:.5em;
}

.rec-module {
  margin-top:.8em;
  font-size:1.4em;
}

.rec-module div {
  float:left;
  margin-right:2em;
  position:relative;
}

.module-control {
  color:#aab8c2;
  transition:all 300ms;
  cursor:pointer;
}

.module-hide {
  display:none;
  width:45px;
  height:30px;
  line-height:30px;
  font-size:.6em;
  color:#fff;
  font-weight:700;
  text-align:center;
  position:absolute;
  top:-35px;
  left:-12px;
  background-color:#19caad;
  border-radius:5px;
}

.comment-textArea {
  width:100%;
  border-bottom:1px solid #e1e8ed;
  background-color:#E8FAF2;
  display:none;
  position:relative;
  padding:2em 1.5em .8em;
}

.comment-close {
  cursor:pointer;
  position:absolute;
  top:.5em;
  right:.5em;
}

.love-span {
  position:absolute;
  top:.3em;
  right:-2.2em;
  font-size:.6em;
  font-weight:700;
  color:#fff;
  background:#19caad;
  border-radius:3px;
  padding:0 .4em;
}

.page-top {
  width:100%;
  margin-bottom:10px;
}

.top-top {
  height:220px;
  background-color:#19caad;
  border-bottom:1px solid #e1e8ed;
  position:relative;
}

.top-bottom {
  border-bottom:2px solid #23ebad;
  padding:.8em 2.5em;
}

.top-head {
  height:200px;
  width:200px;
  border-radius:10px;
  overflow:hidden;
  position:absolute;
  top:120px;
  left:50px;
  border-bottom:1px solid #e1e8ed;
}

.bottom-info {
  float:left;
  margin:3px 0 0 300px;
}

.bottom-info ul li {
  float:left;
  margin-right:50px;
}

.bottom-info ul li a {
  color:#66757f;
  font-weight:700;
}

.bottom-info ul li span {
  color:#19caad;
  font-size:1.4em;
  margin-left:.3em;
}

.user-data {
  margin-top:45px;
  padding:0 1em 1em;
}

.data-name {
  font-size:2em;
  font-weight:700;
}

.data-info ul li {
  margin-top:.6em;
  color:#66757f;
}

.left-attention {
  padding:1em;
}

.attention-info {
  border-bottom:10px solid #E8FAF2;
}

.attention-top {
  height:100px;
  width:100%;
  background-color:#19caad;
  position:relative;
}

.attention-head {
  position:absolute;
  top:63%;
  left:10px;
  height:75px;
  width:75px;
  border-radius:10px;
  overflow:hidden;
}

.send-message {
  margin-left:.5em;
  position:relative;
}

.send-hide {
  display:none;
  width:60px;
  height:30px;
  line-height:30px;
  font-size:.6em;
  color:#fff;
  font-weight:700;
  text-align:center;
  position:absolute;
  top:-5px;
  left:30px;
  background-color:#23ebad;
  border-radius:5px;
}

.attention-msg {
  transition:all 300ms;
  padding:.6em 2em 1.2em;
}

.attention-msg p {
  text-align:left;
  font-size:.8em;
  color:#66757f;
}

.form-left {
  margin-top:1em;
}

.form-input {
  position:absolute;
  font-size:0;
  width:100%;
  height:100%;
  outline:0;
  opacity:0;
  z-index:1;
  cursor:pointer;
}

.form-icon {
  cursor:pointer;
  width:100%;
  height:100%;
  border-radius:5px;
}

.follow-main {
  float:left;
  margin-left:.7em;
  width:74%;
  overflow:hidden;
}

.follow-info {
  width:32%;
  float:left;
  border:1px solid #e1e8ed;
  border-radius:8px;
  overflow:hidden;
  margin:0 .8em .8em 0;
}

.modal-userhead {
  height:50px;
  width:50px;
  overflow:hidden;
  border-radius:10px;
  float:left;
  margin-right:1em;
}

.modal-usermsginfo {
  margin:.8em 0 0 1em;
}

.edit-hide {
  display:none;
  width:100px;
  height:30px;
  line-height:30px;
  font-size:.6em;
  color:#fff;
  font-weight:700;
  text-align:center;
  position:absolute;
  top:5px;
  left:45px;
  background-color:#23ebad;
  border-radius:5px;
}

#edit-hide-btn {
  display:none;
  position:absolute;
  top:3px;
  left:150px;
}

.page-form {
  width:70%;
  margin:0 auto;
  padding:2em 0;
}

.pageform-left {
  float:left;
  width:60%;
}

.pageform-left p {
  font-size:1.5em;
  margin-top:2em;
}

.pageform-right {
  float:right;
  width:35%;
}

.pageform-container {
  margin-bottom:1em;
  border:1px solid #e1e8ed;
  border-radius:8px;
  background-color:#E8FAF2;
  padding:1em;
}

.form-btn {
  border-radius:5px;
  margin-top:.8em;
  float:right;
}

.page-dynamic {
  color:#66757f;
  margin:.8em 1em .4em;
}

.dynamic-name {
  font-size:1.4em;
  font-weight:700;
  color:#19caad;
}

.dynamic-info {
  background-color:#E8FAF2;
  border-radius:8px;
  padding:.6em 1em;
}

.btn-comment {
  margin-left:1em;
  border-radius:8px;
  padding:.3em;
}

.header-right,.btn-edit,.form-right {
  float:right;
}

.header-logo img,.page-msg,.msg-img img {
  width:100%;
}

.user-head img,.msg-head img,.comment-head img,.top-head img,.attention-head img,.modal-userhead img {
  width:100%;
  height:100%;
}

.user-name,.attention-name {
  display:block;
  padding-top:.6em;
  font-size:1.5em;
  font-weight:700;
}

.user-msg ul li a:hover,.module-control:hover {
  color:#19caad;
}

.msg-hide:hover .msg-hidet,.module-control:hover .module-hide,.send-message:hover .send-hide,.edit-image:hover .edit-hide {
  display:block;
}

.form-image,.form-video,.edit-image {
  position:relative;
  width:35px;
  height:35px;
  font-size:1.5em;
  line-height:35px;
  text-align:center;
  cursor:pointer;
  float:left;
  color:#19caad;
  margin-right:1.2em;
  border-radius:5px;
}

.form-image:hover,.form-video:hover {
  border:1px solid #23ebad;
  border-radius:5px;
  color:#23ebad;
}