/*Global*/
/*修改input自动填充的黄色背景*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  border: 1px solid rgb(25, 202, 173)!important;
}
* {
  margin: 0;
  padding: 0;
  transition: all 300ms
}
a {
  color: rgb(25, 202, 173);
  transition: all 300ms
}
a:hover {
  text-decoration: none;
  color: rgb(35, 235, 173);
 }
ul li {
  list-style-type: none;
}
.clear {
  clear: both;
}
.text-group {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(35, 235, 173);
  background-color: #f5f8fa;
}
.text-group textarea {
  border: none;
  background: none;
  color: rgb(35, 235, 173);
}

/*修改bootstrap 全局样式*/
.btn {
  border-radius: 25px;
}
.btn-green {
  background-color: rgb(25, 202, 173);
  border: 1px solid rgb(29, 191, 151);
  color: #fff;
}
.btn-green:hover {
  color: #ffffff;
  background-color: rgb(35, 235, 173);
  border: 1px solid rgb(25, 202, 173);
}
.cloud-input {
  border: 1px solid rgb(35, 235, 173);
  color: rgb(35, 235, 173);
  margin-top: .8em;
}
.modal-footer {
  padding: 0;
  overflow: hidden;
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}
.edit-input-group {
  margin-top: .8em;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 0 .8em 0;
  border-bottom: 2px solid rgb(35, 235, 173);
  z-index: 1000;
  background-color: #ffffff;
}
.header-left {
  text-align: center;
}
.header-left ul li {
  width: 70px;
  float: left;
  font-size: 1.05em;
  padding-top: .5em;
}
.header-left ul li span {
  font-weight: bold;
}
.left-con {
  margin-left: .4em;
  transition: all 300ms
}

.header-right {
  float: right;
}
.header-right div {
  float: left;
  margin-left: .8em;
}
.right-search input {
  border-radius: 20px;
  background-color: #f5f8fa;
}
.header-logo {
  position: absolute;
  top: 1em;
  left: 50%;
  margin-left: -40px;
  height: 40px;
  width: 40px;
}
.header-logo img {
  width: 100%;
}

/*page*/
.page {
  height: 100%;
}
.page-wrap {
  height: 65px;
  width: 100%;
}
.page-container {
  padding: 0 40px;
}
.page-left {
  float: left;
  width: 24%;
}
.left-container {
  position: relative;
  width: 100%;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: .8em;
}
.info-top {
  height: 100px;
  width: 100%;
  /*background-color: rgb(160, 238, 225);*/
  background-color: rgb(25, 202, 173);
}
.user-head {
  position: absolute;
  top: 63px;
  left: 10px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  overflow: hidden;
}
.user-head img {
  width: 100%;
  height: 100%;
}
.info-bottom {
  width: 100%;
  text-align: center;
}
.user-name {
  display: block;
  padding-top: .6em;
  font-size: 1.5em;
  font-weight: bold;
}
.user-msg {
  padding: .6em 2em 3.2em 2em;
  transition: all 300ms
}
.user-msg ul li {
  float: left;
  width: 33.3%;
  text-align: center;
  position: relative;
  transition: all 300ms
}
.user-msg ul li a:hover {
  color: rgb(25, 202, 173);
}
.user-msg ul li span {
  position: absolute;
  top: 20px;
  left: 26px;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(25, 202, 173);
}
.user-msg ul li a {
  color: #8899a6;
}
.page-right {
  float: right;
  width: 24%;
}
.right-container {
  padding: 1em;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: .8em;
}
.right-title span {
  font-size: 1.3em;
  font-weight: bold;
}
.right-title a {
  font-size: .8em;
  font-weight: bold;
}
.rec {
  margin-top: .5em;
}
.rec-name {
  margin: 0 1.5em 0 1.5em;
  color: #000000;
  font-weight: bold;
}
.rec img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.btn-rec {
  font-size: .6em;
  margin-right: 2.5em;
}

/*right popular*/
.right-popular ul li {
  margin-top: .6em;
}
.right-popular ul li a {
  font-size: 1.2em;
}
.right-popular ul li span {
  font-size: .6em;
  color: #66757f;
  margin-left: 2em;
}

/*page main*/
.page-main {
  float: left;
  margin-left: .7em;
  width: 50%;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  overflow: hidden;
}
.main-text {
  padding: .8em 1.5em .8em 1.5em;
  width: 100%;
  border-bottom: 1px solid #e1e8ed;
  background-color: #E8FAF2;
}
.comment-text {
  padding: 2em 1.5em .8em 1.5em;
  width: 100%;
  border-bottom: 1px solid #e1e8ed;
  background-color: #E8FAF2;
  display: none;
}
.search-head {
  height: 34px;
  width: 34px;
  overflow: hidden;
  border-radius: 5px;
  float: left;
  margin-right: .8em;
}
.search-head img {
  height: 100%;
  width: 100%;
}
.search-input {
  width: 100%;
  border: 1px solid rgb(35, 235, 173);
  color: rgb(35, 235, 173);
}
.search-input-group {
  border: 1px solid rgb(35, 235, 173);
  background-color: #f5f8fa;
  color: rgb(35, 235, 173);
}

.page-msg {
  width: 100%;
}
.msg {
  width: 100%;
  position: relative;
  padding: 5px 10px 10px 75px;
  border-bottom: 1px solid #e1e8ed;
}
.msg-head {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.msg-head img {
  width: 100%;
  height: 100%;
}
.msg-hide {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2em;
  color: #aab8c2;
}
.msg-hidet {
  display: none;
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: .6em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -5px;
  left: -70px;
  background-color: rgb(35, 235, 173);
  border-radius: 5px;
}
.msg-hide:hover .msg-hidet {
  display: block;
}
.msg-user {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(25, 202, 173);
}
.msg-time {
  font-size: .8em;
}
.msg-img {
  width: 100%;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  overflow: hidden;
}
.msg-con {
  cursor: pointer;
}
.msg-img img {
  width: 100%;
}
/* 评论区 */
.msg-comment {
  margin: .8em;
}
.comment-head {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  border: 1px solid rgb(25, 202, 173);
}
.comment-head img {
  width: 100%;
  height: 100%;
}
.comment-info {
  float: left;
  position: relative;
  line-height: 30px;
  margin-left: .5em;
}
.comment-user {
  color: rgb(25, 202, 173);
  font-weight: bold;
}
.forward-span {
  font-weight: bold;
  color: rgb(25, 202, 173);
  margin-right: .5em;
}
.rec-module {
  margin-top: .8em;
  font-size: 1.4em;
}
.rec-module div {
  float: left;
  margin-right: 2em;
  position: relative;
}
.module-control {
  color: #aab8c2;
  transition: all 300ms;
  cursor: pointer;
}
.module-control:hover {
  color: rgb(25, 202, 173);
}
.module-control:hover .module-hide {
  display: block;
}
.module-hide {
  display: none;
  width: 45px;
  height: 30px;
  line-height: 30px;
  font-size: .6em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -35px;
  left: -12px;
  background-color: rgb(25, 202, 173);
  border-radius: 5px;
}
.comment-textArea {
  padding: 2em 1.5em .8em 1.5em;
  width: 100%;
  border-bottom: 1px solid #e1e8ed;
  background-color: #E8FAF2;
  display: none;
  position: relative;
}
.comment-close {
  cursor: pointer;
  position: absolute;
  top: .5em;
  right: .5em;
}
.love-span {
  position: absolute;
  top: .3em;
  right: -2.2em;
  font-size: .6em;
  font-weight: bold;
  color: #ffffff;
  background: rgb(25, 202, 173);
  padding: 0 .4em;
  border-radius: 3px;
}

/* user */
/* user top */
.page-top {
  width: 100%;
  margin-bottom: 10px;
}
.top-top {
  height: 220px;
  background-color: rgb(25, 202, 173);
  border-bottom: 1px solid #e1e8ed;
  position: relative;
}
.top-bottom {
  padding: .8em 2.5em;
  border-bottom: 2px solid rgb(35, 235, 173);
}
.btn-edit {
  float: right;
}
.top-head {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 120px;
  left: 50px;
  border-bottom: 1px solid #e1e8ed;
}
.top-head img {
  width: 100%;
  height: 100%;
}
.bottom-info {
  float: left;
  margin: 3px 0 0 300px;
}
.bottom-info ul li {
  float: left;
  margin-right: 50px;
}
.bottom-info ul li a {
  color: #66757f;
  font-weight: bold;
}
.bottom-info ul li span {
  color:rgb(25, 202, 173);
  font-size: 1.4em;
  margin-left: .3em;
}
.user-data {
  margin-top: 45px;
  padding: 0 1em 1em 1em;
}
.data-name {
  font-size: 2em;
  font-weight: bold;
}
.data-info ul li {
  margin-top: .6em;
  color: #66757f;
}

/*left attention */
.left-attention {
  padding: 1em;
}
.attention-info {
  border-bottom: 10px solid #E8FAF2;
}
.attention-top {
  height: 100px;
  width: 100%;
  /* background-color: rgb(160, 238, 225); */
  background-color: rgb(25, 202, 173);
  position: relative;
}
.attention-head {
  position: absolute;
  top: 63%;
  left: 10px;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  overflow: hidden;
}
.attention-head img {
  width: 100%;
  height: 100%;
}
.attention-name {
  display: block;
  padding-top: .6em;
  font-size: 1.5em;
  font-weight: bold;
}
.send-message {
  margin-left: .5em;
  position: relative;
}
.send-hide {
  display: none;
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: .6em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -5px;
  left: 30px;
  background-color: rgb(35, 235, 173);
  border-radius: 5px;
}
.send-message:hover .send-hide{
  display: block;
}
.attention-msg {
  padding: .6em 2em 1.2em 2em;
  transition: all 300ms;
}
.attention-msg p {
  text-align: left;
  font-size: .8em;
  color: #66757f;
}

/*user form*/
.form-left {
  margin-top: 1em;
}
.form-right {
  float: right;
}
.form-image,
.form-video {
  position: relative;
  width: 35px;
  height: 35px;
  font-size: 1.5em;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  float: left;
  color: rgb(25, 202, 173);
  margin-right: 1.2em;
  border-radius: 5px;
}
.form-image:hover {
  border: 1px solid rgb(35, 235, 173);
  border-radius: 5px;
  color: rgb(35, 235, 173);
}
.form-video:hover {
  border: 1px solid rgb(35, 235, 173);
  border-radius: 5px;
  color: rgb(35, 235, 173);
}
.form-input {
  position: absolute;
  font-size: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.form-icon {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/*follow*/
.follow-main {
  float: left;
  margin-left: .7em;
  width: 74%;
  overflow: hidden;
}
.follow-info {
  width: 32%;
  float: left;
  margin: 0 .8em .8em 0;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  overflow: hidden;
}

/*图像展示样式*/
.modal-userhead {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 10px;
  float: left;
  margin-right: 1em;
}
.modal-userhead img {
  width: 100%;
  height: 100%;
}
.modal-usermsginfo {
  margin: .8em 0 0 1em;
}

/*编辑用户信息界面*/
.edit-image {
  position: relative;
  width: 35px;
  height: 35px;
  font-size: 1.5em;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  float: left;
  color: rgb(25, 202, 173);
  margin-right: 1.2em;
  border-radius: 5px;
}
.edit-hide {
  display: none;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: .6em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 45px;
  background-color: rgb(35, 235, 173);
  border-radius: 5px;
}
#edit-hide-btn {
  display: none;
  position: absolute;
  top: 3px;
  left: 150px;
}
.edit-image:hover .edit-hide {
  display: block;
}

/*注册登录界面*/
.page-form {
  width: 70%;
  margin: 0 auto;
  padding: 2em 0;
}
.pageform-left {
  float: left;
  width: 60%;
}
.pageform-left p {
  font-size: 1.5em;
  margin-top: 2em;
}
.pageform-right {
  float: right;
  width: 35%;
}
.pageform-container {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  background-color: #E8FAF2;
}
.form-btn {
  border-radius: 5px;
  margin-top: .8em;
  float: right;
}

/* 动态 */
.page-dynamic {
  margin: .8em 1em .4em 1em;
  color: #66757f;
}
.dynamic-name {
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(25, 202, 173);
}
.dynamic-info {
  background-color: #E8FAF2;
  padding: .6em 1em;
  border-radius: 8px;
}

.btn-comment {
  margin-left: 1em;
  border-radius: 8px;
  padding: .3em;
  /*display: none;*/
}